* {
    box-sizing: border-box;
    border-width: 1px;
    font-family: calibri;
}

.level-header{
    width: 100%;
    border-style: solid;
    color : violet;
    display :flex;
    justify-content: start;
}

.selector-wrapper{
    min-height: 50VH;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.constructor{
    border-style: solid;
    width:35%;
}

.level-1{
    display:none;
}

.level-2{
    display:none;
}


.helper{
    border-style: solid;
    width : 60%;
    display :flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;    
}

.descriptor{
    color: red;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.caster-header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    border-style: solid;
    color: lightgreen;
}

.caster-generic{
    border-style: solid;
    color: green;
}

.wrapper4{
    border-style: solid;
    color: lightblue;
    width :70%;
    justify-content: space-around;
    display: flex;
}

#caster-stats{
    width: 50%;
}

.wrapper5{
    border-style: solid;
    color:blue;
    display: flex;
    flex-direction: column;
}
.stat-name{
    border-style: solid;
    color : lightcoral;
}
.caster-feat{
    border-style: solid;
    color: lightblue;
    width:100%;
}

.stat{
    text-align: center;
}

.wrapper1{
    border-style: solid;
    color: lightblue;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.sub-title{
    font-style: italic;
}

.wrapper2{
    width:30%;
    border-style: solid;
    color:blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sub-wrapper{
    width: 100%;
    border-style: solid;
    color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-name{
    border-style: solid;
    color: black;
    font-weight : bold;
}

.sub-description{
    border-style: solid;
    color:black;
}

.wrapper6{
    border-style: solid;
    color: lightblue;
}
.wrapper7{
    border-style: solid;
    color:blue;
    display: flex; 
    display
}

.error{
    font-weight : bold;
    color : red;
}

.milestone{
    font-weight : bold;
}