* {

    border-width: 1px;
}

.main-wrapper{
    min-height: 50VH;
    width: 100%;
    display: flex;
    justify-content: space-around;  
}


.level-1{
    display:none;
}

.level-2{
    display:none;
}


.helper{
    border-style: solid;
    display :flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;    
}

.descriptor{
    color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;

}

.caster-header{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.wrapper4{
    width :70%;
    justify-content: space-around;
    display: flex;
}

#caster-stats{
    width: 50%;
}

.wrapper5{
    display: flex;
    flex-direction: column;
}

.caster-feat{
    width:100%;
}

.stat{
    text-align: center;
}

.wrapper1{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.sub-title{
    font-style: italic;
    text-decoration : underline;
}

.stat-name{
    border-style: solid;
}
.wrapper2{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sub-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-name{
    border-style: solid;
    font-weight : bold;
}

.wrapper7{
    display: flex; 
}

.error{
    font-weight: bold;
    color: red;
}

.milestone{
    text-align :center;
    font-weight : bold;
}

.milestone{
}